<clr-datagrid>

  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Time
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Meter Usage
    </ng-container>
  </clr-dg-column>

  <clr-dg-row *ngFor="let reading of consumption.usage">
    <clr-dg-cell>{{reading.time}}</clr-dg-cell>
    <clr-dg-cell>{{reading.meterUsage}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{consumption.pageIndex}} - {{consumption.pageIndex * consumption.pageSize}} of {{consumption.total}} items
    <clr-dg-pagination [clrDgTotalItems]="consumption.total"></clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
